[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = ssh://kvasov@git.analit.net/var/www/git/Common.MySql
[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = ssh://kvasov@git.analit.net/var/www/git/Common.Tools
[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = ssh://kvasov@git.analit.net/var/www/git/MonoRail.Debugger.Toolbar
