п»ї.debtor, table.DataTable tr.debtor
{
	background-color: #ff4b42;
}

a.Disabled
{
	background-color: #ffa66a;
}

.Disabled td
{
	background-color: #ff6600;
}

.Error
{
	background-color:Red;
}

.Success
{
	background-color: #D3FFA8;
}

.Notification
{
	background-color: #FFF1A8;
}

.change-password-by-one-self
{
	background-color: #efb;
}

.DocumentNotParsed
{
	background-color: #faa0a0;
}

form#Unlock input[type=submit]:enabled
{
	background-color: red;
}

td.to-many-orders {
	background-color: red;
}

td.service-stoped {
	background-color: red;
}

td.OrderProcStatus.order-proc-not-runnig-or-unknown{
	background-color: red;
}

td.PriceProcessorMasterStatus.price-processor-master-not-runnig-or-unknown{
	background-color: red;
}