п»ї#news_Body {
	width: 600px;
	height: 600px;
}

#news_Header {
	width: 600px;
}

.hidden-news {
	background-color: #fcd0d0;
}

.DataTable tbody tr.hidden-news {
	background-color: #fcd0d0;
	height: 26px;
}

.NewsTable {
	border-spacing: 0px 0px;
}

.NewsTable tr td {
	border-bottom: 2px solid #DADADA;
}