#news_Body {
	width: 600px;
	height: 600px;
}

#news_Header {
	width: 600px;
}

.hidden-news {
	background-color: #c4c3c3;
}

.DataTable tbody tr.hidden-news {
	background-color: #c4c3c3;
	height: 26px;
}