<!DOCTYPE html>

<html>
<head>
	@Styles.Render("~/Content/css")
	<script type='text/javascript' src='~/Assets/Javascripts/jquery-1.9.1.js'></script>
	<script type='text/javascript' src='~/Assets/Javascripts/jquery-ui-1.10.2.js'></script>
	<script type='text/javascript' src='~/Assets/Javascripts/jquery-ui-i18n.js'></script>
	<link type='text/css' rel='stylesheet' href='~/Assets/Stylesheets/themes/base/jquery.ui.all.css'>	@RenderSection("scripts", required: false)</head>
<body>
@RenderBody()
</body>
</html>