td.BillingInput
{
	width: 70%;
}

td.BillingInput input
{
	width: 99%;
}

td.BillingInput select
{
	width: 99%;
}

.BillingInput
{
	width: 99%;
}

.ShowHiden
{
	background:transparent url(../images/icon_plus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor:pointer;
}

.HideVisible
{
	background:transparent url(../images/icon_minus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor: pointer;
}

.ShowCalendar
{
	cursor: pointer;
}

.hidden
{
	display:none;
}

.CalendarInput
{
	background:  transparent url(../images/calendar.gif) no-repeat scroll center center;
	width: 25px;
	height: 19px;
}

.Full
{
	width:80%;
}

div table[class="DataTable"] tr[id*="Row"].Disabled
{
	background-color: #ff6600;
}

td.Disabled
{
	background-color: #ff6600;
}

div table.DataTable tr.Free
{
	background-color: #b0ffb0;
}

td.Free
{
	background-color: #b0ffb0;	
}

.Free
{
	background-color: #b0ffb0;	
}


table tr[id*="Row"].HasNoConnectedUsers
{
	background-color: #cece9d;
}

td.HasNoConnectedUsers
{
	background-color: #cece9d;
}

.HasNoConnectedUsers
{
	background-color: #cece9d;
}

tr[id*="Row"].Inactive
{
	background-color: #Ababab;
}

td.Inactive
{
	background-color: #Ababab;
}