.InputGroupHeader table.DataTable
{
	width:100%;
}

td.BillingInput
{
	width: 70%;
}

td.BillingInput input
{
	width: 99%;
}

td.BillingInput select
{
	width: 99%;
}

input[type=text].payment
{
	width: 4em;
}

td.short
{
	width : 1%;
}

.BillingInput
{
	width: 99%;
}

.ShowHiden
{
	background:transparent url(../images/icon_plus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor:pointer;
}

.HideVisible
{
	background:transparent url(../images/icon_minus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor: pointer;
}

.ShowCalendar
{
	cursor: pointer;
}

.hidden
{
	display:none;
}

.CalendarInput
{
	background:  transparent url(../images/calendar.gif) no-repeat scroll center center;
	width: 25px;
	height: 19px;
}

.Full
{
	width:80%;
}

div table.DataTable tr.free, td.free, .free
{
	background-color: #b0ffb0;
}

table tr[id*="Row"].has-ho-connected-users, td.has-no-connected-users, .has-no-connected-users
{
	background-color: #cece9d;
}