.PageHeader
{
	padding: 5px;
	background-color: #d8f1ff;
	text-align: center; 
	vertical-align: middle;
	font-weight:bold; 
	margin-bottom:10px;
	width: 100%;
}

.LegendMarker
{
	width: 20px;
	height: 20px;
}