/* 
¬ этом файле описаны все стили, которые встречаютс€ в библиотеке Common.Web.Ui
*/


/* —тили, необходимые дл€ компонента ContactViewer */

/* стиль дл€ метки, раньше называлс€ как  ContactLabel */
.ContactViewerContactLabel
{
	width: 50%;     
	padding: 3px;
	text-align:right;
	border-bottom-width: 1px;
	border-bottom-color: Gray;
	border-bottom-style: double;
}

/* стиль дл€ текста, раньше называлс€ как  ContactText  */
.ContactViewerContactText
{	
	width: 50%;
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-color: Gray;
	border-bottom-style: double;	
}

/* стиль дл€ пустого блока, раньше был inline-стилем  */
.ContactViewerEmptyBlock
{	
	text-align:center; 
	padding: 3px; 
	border-bottom-width: 1px; 
	border-bottom-color: Gray; 
	border-bottom-style: double;
}

/* стил€ дл€ заголовка группы контактов, раньше был InputGroupHeader */
.ContactViewerGroupHeader
{
	padding: 5px;
	background-color: #d8f1ff;
	text-align: center; 
	vertical-align: middle;
}


/* стиль дл€ отображени€ ошибки валидации при вводе контакта, раньше был ValidationErrorMessage*/
.ContactValidationErrorMessage
{
	color: #ff0000;
	padding: 3px; 
	background-color:#f6f6f6; 
	padding:5px;	
}



/* классы, которые используютс€ дл€ редактировани€ группы контактов или контактной информации персоны */
/* стиль дл€ блочного элемента кнопки "—охранить", раньше был SubmitDiv */
.ContactSubmitDiv
{
	text-align: right;
}

/* стиль дл€ блочного элемента с редактируемой контактной информацией дл€ персоны , раньше был BaseDiv */
.ContactBaseDiv
{
	background-color:#dadada; 
	padding: 10px;
}

/* стиль дл€ блочного элемента с редактируемым контактом дл€ персоны , раньше был ElementsDiv */
.ContactElementsDiv
{
	margin-bottom:10px; 
	margin-top:3px; 
	margin-left:3px; 
	margin-right:3px;
	background-color:#f6f6f6; 
	padding:5px;
}

/* стиль дл€ заголовка, раньше был HeaderDiv */
.ContactHeaderDiv
{ 
	font-weight: bold;	
	margin-bottom:10px; 
	margin-top:3px; 
	margin-left:3px; 
	margin-right:3px;
	background-color:#f6f6f6; 
	padding:10px; 
	text-align:center;
}