.OldUpdate
{
	background-color: Gray;
}

.HaveOnlyNotCommitedUpdates
{
	background-color: #ff7f7f;
}

.Debtor
{
	background-color: #ff4b42;
}

.PayerDisabled
{
	background-color: #ffa642;
}

.DisabledClient td
{
	background-color: #ff6600;
}

.DisabledUser td
{
	background-color: #6a6a6a;
}

a.Disabled
{
	background-color: #ffa66a;
}

a.Disabled
{
	background-color: #ff6600;
}

.Disabled td
{
	background-color: #ff6600;
}

.Free
{
	background-color: #d0ef72;
}

.Free td
{
	background-color: #d0ef72;
}

.Inactive td
{
	background-color: #AbAbAb;
}

.Inactive
{
	background-color: #Ababab;
}

.HasNoConnectedUsers
{
	background-color: #cece9d;
}

.BlockedLogin
{
	background-color: #f7c4f7;
}

.LoginNotExists
{
	background-color:#FFBABA;
}

.Error
{
	background-color:Red;
}

.Success
{
	background-color: #D3FFA8;
}

.Notification
{
	background-color: #FFF1A8;
}

.change-password-by-one-self
{
	background-color: #bbffbb;
}

.not-base-client
{
	background-color: #e7e7c2;
}
