body 
{
	font-family: Times New Roman;
}

pre
{
	font-family: Times New Roman;
	font-size: 100%;
}

table 
{
	width: 100%;
	border-collapse:collapse;
}

table td
{
	border: solid 1px black;
}

table th
{
	border: solid 1px black;
	font-weight: normal;
}

h4, h5, h6
{
	text-align: center;
}

.result-label
{
	border-style: none;
	text-align: right;
}

.result
{
	font-weight: bold;
}

