tr.EvenRow.LockedUser
{
	background-color: #ff80c0;
}

tr.OddRow.LockedUser
{
	background-color: #ff80c0;
}

.LockedUser
{
	background-color: #ff80c0;
}

table.DataTable tr.EvenRow.DisabledInAd
{
	background-color: #ff4848;
}

table.DataTable tr.OddRow.DisabledInAd
{
	background-color: #ff4848;
}

.DisabledInAd
{
	background-color: #ff4848;
}

/*ссылка на отключенного клиента/поставщика/адрес/пользователя*/
a.disabled
{
	background-color: #ff9d5b;
}

/*легенда*/
div.LegendMarker.disabled
{
	background-color: #ff9d5b;
}

table.DataTable tr.OddRow.DisabledByBilling, table.DataTable tr.OddRow.disabled, .DisabledByBilling
{
	background-color: #ff9d5b;
}

table.DataTable tr.EvenRow.DisabledByBilling, table.DataTable tr.EvenRow.disabled
{
	background-color: #ff9d5b;
}

table.DataTable tr.OddRow.disabled-by-parent, table.DataTable tr.EvenRow.disabled-by-parent
{
	background-color: #ff9d5b;
}

table.DataTable tr.old-user-update, td.old-user-update, .old-user-update
{
	background-color: #aaaaaa;
}

tr.EvenRow.NotExistsUser
{
	background-color: #98cbcb;
}

tr.OddRow.NotExistsUser
{
	background-color: #98cbcb;
}

.NotExistsUser
{
	background-color: #98cbcb;
}


#user_Name
{
	width: 60%;
}