#SearchResults tr.self-disabled td.login,
#SearchResults tr.self-disabled td.user-name,
#SearchResults tr.self-disabled td.region-name,
#SearchResults tr.self-disabled td.update-date,
#SearchResults tr.self-disabled td.af-version,
#SearchResults tr.self-disabled td.client-type
{
	background-color: #ff9d5b;
}

tr.EvenRow.invisible-client td.client-name,
tr.OddRow.invisible-client td.client-name,
.invisible-client
{
	background-color: #ede948;
}

tr.EvenRow.not-exists-user td.login,
tr.EvenRow.not-exists-user td.user-id,
tr.OddRow.not-exists-user td.login,
tr.OddRow.not-exists-user td.user-id,
.not-exists-user
{
	background-color: #98cbcb;
}

tr.EvenRow.locked td.login,
tr.EvenRow.locked td.user-id,
tr.OddRow.locked td.login,
tr.OddRow.locked td.user-id,
.locked
{
	background-color: #ff80c0;
}

table.DataTable tr.EvenRow.disabled-in-ad,
table.DataTable tr.OddRow.disabled-in-ad,
.disabled-in-ad
{
	background-color: #ff4848;
}

table.DataTable tr.old-user-update td.update-date,
td.old-user-update,
.old-user-update
{
	background-color: #aaaaaa;
}

table.DataTable tbody tr.old-user-update
{
	background-color: #dfdfdf;
}

table.DataTable tr.OddRow.disabled,
table.DataTable tr.EvenRow.disabled,
table.DataTable tr.OddRow.disabled-by-billing,
table.DataTable tr.EvenRow.disabled-by-billing,
table.DataTable tr.OddRow.disabled-by-billing.single-user,
table.DataTable tr.EvenRow.disabled-by-billing.single-user
span.disabled,
/*ссылка на отключенного клиента/поставщика/адрес/пользователя*/
a.disabled,
/*легенда*/
div.LegendMarker.disabled,
/*что бы избежать конфликтов*/
table.style td.disabled
{
	background-color: #ff9d5b;
}

table.DataTable tr.OddRow.disabled-by-parent,
table.DataTable tr.EvenRow.disabled-by-parent,
span.disabled-by-parent
{
	background-color: #ff9d5b;
}

table.DataTable tr.EvenRow.single-user,
table.DataTable tr.OddRow.single-user,
div.LegendMarker.SingleUser
{
	background-color: #BBFFB6;
}

#user_Name
{
	width: 60%;
}

.kfm_home {
	text-decoration: none;
	background-image: url(../Images/kfm_home.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	padding-left: 25px;
	padding-top: 7px;
}

#MemoAboutWritingAddresses {
	font-size:9px;
	padding-left:10px;
}

.tabFieldset {
	width: 600px;
}

.allWidth {
	width:100%;
}

#AddCommentField {
	width: 250px;
}

table thead.CenterHead th
{
	text-align: center;
}

.rowHead {
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}


.centerRowHead th{
	text-align: center;
}

.fixedHead300 {
	width: 300px;
}

.no-price-connected {
	background-color: #fbafaf;
	border: 1px double #AAA;
}

.cost-collumn {
	background-color: #e5cb8e;
	border: 1px double #AAA;
}

.price-markup-style {
	background-color: #afc1fb;
	border: 1px double #AAA;
}

.payment-code-style {
	background-color: #98CBCB;
	border: 1px double #AAA;
}

.client-code-style {
	background-color: #fbafe4;
	border: 1px double #AAA;
}

.delivery-style {
	background-color: #C4D3A5;
	border: 1px double #AAA;
}

.minimumHead {
	width: 50px;
}

#filter_ClientName {
	width: 300px;
}

.padding5 {
	padding-left: 15px;
}

.padding10 {
	padding-left: 30px;
}

.userInfoDiv {
	width: 200px;
}

.toggled {
	overflow: hidden;
	display: none;
}

.userInfoDivTable {
	text-align: left;
}

.adressNoOrder {
	background-color: #f9be67;
}

.DataTable tbody tr.hidden-from-supplier td.forSelectHiddenClient, div.hidden-from-supplier {
	background-color: #fffaa0;
}

.UserAndAddresses .calendar {
	width: 250px;
}

.DataTable tbody tr td.no-order-style, div.no-order-style {
	background-color: #9999ff;
}

.ExcludeFilesForm {
	width: 750px;
}

.ExcludeFilesForm input[type="text"] {
	width: 300px;
}

.ExcelLink {
	text-align: right;
}

.subHeadTable {
	font-weight: bold;
	text-align: center;
}

.DataTable tbody tr.FormalizedNow {
	background-color: #d4f79f;
}

.FormalizedNow {
	background-color: #d4f79f;
}

#loadingDiv {
	background: url(/Images/ajax-loader.gif) no-repeat 50% 10%;
	padding-top: 60px;
	background-color: #F5F5F5;
	border: 2px solid #AAA;
	height: 100px;
	width: 230px;
}

#loadingText {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	font: 16px bolder;
	font-family: Segoe UI, Tahoma, Arial;
}

.paddingLeft10 {
	padding-left: 10px;
}

.attachment {
	background: url("/Images/Attachment.png");
	background-repeat: no-repeat;
	height: 16px;
	display: block;
	padding-left: 20px;
}

.DataTable tbody tr.deleted-mini-mail {
	background-color: #FFBABA;
}