<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="webPort" value="13317" />
		<!--нужно что бы выскочили ошибки где siteroot не обрабатывается-->
		<add key="webRoot" value="/Test" />
		<add key="webDirectory" value="../../../AdminInterface/" />
		<add key="UserPreparedDataFormatString" value="C:\Windows\Temp\{0}.zip" />
		<add key="PromotionsPath" value="Promotions" />
	</appSettings>

	<connectionStrings>
		<add name="Main" connectionString="Data Source=localhost;Database=usersettings;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Allow User Variables=true;"/>
	</connectionStrings>

	<activerecord pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="connection.connection_string_name" value="Main"/>
			<!--<add key="show_sql" value="true"/>-->
			<add key="hbm2ddl.keywords" value="none"/>
			<add key="format_sql" value="true"/>
			<add key="use_sql_comments" value="true"/>
		</config>
	</activerecord>

	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
