body 
{
	background-color:#ffffff;
	font-family: Verdana;
	font-size: 8pt;
}

H3 
{
	font-size: larger;
	text-align: center;
}

A:active
{
	color:#0093e1;
}
A:visited
{
	color:#ab51cc;
}

A:link
{
	color:#0093e1;
}

.Recipient
{
	background: greenyellow;
}

fieldset
{
	margin: 0px 0px 3px 0px;
}

div
{
	margin: 0;
	padding: 0;
}

.SearchTitle
{
	color: Gray;
	font-style: italic;
}

.ValidationErrorMessage
{
	color: #ff0000;
}

.Message
{
	color: green;
}

.InputGroupHeader
{
	padding: 5px;
	background-color: #d8f1ff;
	text-align: center; 
	vertical-align: middle;
}

.Legend
{
	font-size: 8pt;
	background-color: #EBEBEB;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}



.LabelForInput
{
	display:block;
	float:left;
	width: 20%;
	text-align: right;
	padding: 0px;
	margin: 0px 3px 0px 0px;
}

.InputCheckBox
{
	display: block;
	clear: both;
}

.Buttons
{
	text-align: center;
	padding-top: 10px;
}

.DetailsForm
{
	background: #EBEBEB;
	width: 70%;
}

.FreeColumn
{
	float: left;
	margin: 0;
	padding: 0;
	width: 33%;
}

.TwoColumn
{
	float: left;
	margin: 0;
	padding: 0;
	width: 49%;
}

.SimpleField label
{
	float: left; 
	width: 40%; 
	padding: 0;
	text-align: right; 
	margin: 0 1% 0 0;
}

.SimpleField input
{
	float: left;
	width: 54%;
	text-align: left;
	margin: 0;
	padding: 0; 
	vertical-align: bottom;
}

.DropDownField label
{
	float: left; 
	width: 40%; 
	padding: 0;
	text-align: right; 
	margin: 0 1% 0 0;
}

.Required
{
	font-weight: bold;
}

#Phones
{
	background-color: #dadada;
	padding: 10px 1% 10px 1%;
	margin: 0;
}

#Info
{
	background-color: #ebebeb;
	padding: 10px 1% 10px 1%;
	margin: 0;
}

#ExtInfo
{
	background-color: #dadada;
	padding: 10px 1% 10px 1%;
}

#Phones span
{
	display: block;
	width: 95%;
	text-align: right;
	margin: 0;
	padding: 0;
}

.Fields 
{
	float:left;
	width: 98%;
}

.SimpleField
{
	width: 100%;
	float: left;
	clear: both;
	padding: 2px 0px 2px 0px;
}

.ComplexField
{
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
}

.DropDownField
{
	width: 100%;
	float: left;
	clear: both;
	padding: 2px 0px 2px 0px;
}

/*--------------Managep.aspx-----------------*/
.MainHeader
{
	text-align: center;
}

.MainBlock
{
	width: 90%;
	border: solid 1px #dadada;
}

.ContentBlock
{
	border: solid 1px #dadada;
	margin: 1%  1% 1% 1%;
	padding: 1% 1% 1% 1%;
	width: 95%;
}

.BorderedBlock
{
	width: 100%;
	border: solid 1px #dadada;
}

.BaseLabelForInput
{
	display:block; 
	text-align:right; 
	float: left;
}

.DataTable.Submit, th.Submit
{
	padding-top: 10px;
	text-align:center;
}

.unSubmit {
	text-align: left;
}

.CopyRight
{
	float:left;
	clear:both;
	width: 100%;
	padding: 0;
	margin: 20px 0;
	text-align: center;
	font-size: smaller;
}
.Header
{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f0f8ff;
}
/*--------------Managep.aspx-----------------*/
.Navigation
{
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.Title
{
	background-color: #f0f8ff;
	font-weight: bold;
	text-align: center;
}

table.Test
{
	padding: 0;
	margin: 0;
	border-collapse:collapse;
	border-width: 1px;
	border-color: #dadada;
	border-style:solid;
}

.Test td
{
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-color: #dadada;
	border-collapse:collapse;
	border-style:solid;
}

.Warning, .Error 
{
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size:13px;
}

.Warning p, .Error p 
{
    padding: 0px 50px;
}

.Warning
{
	color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../Images/warning.png');
}

.Error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/error.png');
}

.fullWidth {
	width: 100%;
}

.noDisplay {
	display: none;
}

.display {
	display: block;
}

.deleteComment {
	width: 100%;
}

#source_WaybillUrl, #source_RejectUrl {
	width: 200px;
}

.ToolTip {
	font-size: 14px;
	padding-left: 5px;
}

a:link.ToolTip {
	color: #f75555;
}

a:visited	.ToolTip {
	color: #f75555;
}