<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
	</configSections>

	<connectionStrings>
		<add name="Main" connectionString="Data Source=localhost;Database=usersettings;User ID=root;Password=;Connect Timeout=3000;Default Command Timeout=0;pooling=true;convert zero datetime=yes;Allow User Variables=true;"/>
		<!--<add name="Main" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=newpass;Connect Timeout=3000;Default Command Timeout=0;pooling=true;convert zero datetime=yes;Allow User Variables=true;"/>-->
	</connectionStrings>

	<appSettings>
		<add key="AptBox" value="AptBox"/>
		<add key="OptBox" value="OptBox"/>
		<add key="SmtpServer" value="box.analit.net" />
		<add key="DebugMail" value="KvasovTest@analit.net"/>
	</appSettings>

	<activerecord pluralizeTableNames="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
			<add key="dialect" value="NHibernate.Dialect.MySQLDialect"/>
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="connection.connection_string_name" value="Main"/>
			<!--<add key="show_sql" value="true"/>-->
			<add key="hbm2ddl.keywords" value="none"/>
			<add key="format_sql" value="true"/>
			<add key="use_sql_comments" value="true"/>
		</config>
	</activerecord>

</configuration>
