.BillingInput
{
	width: 99%;
}

.ShowHiden
{
	background:transparent url(../images/icon_plus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor:pointer;
}

.HideVisible
{
	background:transparent url(../images/icon_minus.gif) no-repeat scroll left center;
	display:block;
	padding-left:14px;
	cursor: pointer;
}

.ShowCalendar
{
	cursor: pointer;
}

.HidenFolder
{
	display:none;
}

.CalendarInput
{
	background:  transparent url(../images/calendar.gif) no-repeat scroll center center;
	width: 25px;
}

.Full
{
	width:80%;
}
