.CenterBlock
{
	margin-left:auto;
	margin-right:auto;
}

.FilterBlock
{
	width:40%; 
	background-color:rgb(216, 241, 255); 
	margin-bottom:10px;
}

.CornerHolder
{
	width: 100%;
	height: 10px;
	background-color: rgb(216, 241, 255);	
}

.TopLeftCorner
{
	background: transparent url(../images/TopLeftCorner.png) no-repeat scroll center center;
	float: left;
	width: 10px;
	height: 10px;
}

.TopRightCorner
{
	background: transparent url(../images/TopRightCorner.png) no-repeat scroll center center;	
	float: right;
	width: 10px;
	height: 10px;
}

.BottomLeftCorner
{
	background: transparent url(../images/BottomLeftCorner.png) no-repeat scroll center center;
	float: left;
	width: 10px;
	height: 10px;
}

.BottomRightCorner
{
	background: transparent url(../images/BottomRightCorner.png) no-repeat scroll center center;	
	float: right;
	width: 10px;
	height: 10px;
}