<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdminInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
 </configSections>

  <log4net>
    <appender name="MyEmail" type="log4net.Appender.SmtpAppender, log4net">
      <to value="r.kvasov@analit.net"/>
      <from value="service@analit.net"/>
      <subject value="Ошибка в AMPService"/>
      <smtpHost value="mail.adc.analit.net"/>
      <lossy value="false"/>
      <bufferSize value="0"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline %m"/>
      </layout>
    </appender>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <maximumFileSize value="100KB"/>
      <bufferSize value="0"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="LogFile"/>
      <appender-ref ref="MyEmail"/>
    </root>
  </log4net>

  <connectionStrings>
		<add name="Default" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=newpass;Connect Timeout=300;pooling=true;convert zero datetime=yes;"/>
	</connectionStrings>

	<monorail>
		<controllers>
			<assembly>AdminInterface</assembly>
			<assembly>Common.Web.Ui</assembly>
		</controllers>
		<components>
			<assembly>AdminInterface</assembly>
			<assembly>Common.Web.Ui</assembly>
		</components>
		<viewEngines viewPathRoot="Views">
			<add type="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
			<add type="Castle.MonoRail.Framework.Views.Aspx.WebFormsViewEngine, Castle.MonoRail.Framework" />
			<additionalSources>
				<assembly name="Common.Web.Ui" namespace="Common.Web.Ui.Views" />
			</additionalSources>
		</viewEngines>
	</monorail>

	<system.web>
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>
		<siteMap>
			<providers>
				<add name="SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
			</providers>		  
		</siteMap>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord"/>
		</httpModules>
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="ICSharpCode.SharpZipLib, Version=0.81.0.1407, Culture=neutral, PublicKeyToken=1B03E6ACF1164F73"/>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="windows-1251" responseEncoding="windows-1251"/>
		<pages>
			<namespaces>
				<add namespace="System.Data"/>
				<add namespace="System.Drawing"/>
			</namespaces>
		</pages>
	</system.web>

	<activerecord isWeb="true">
		<config>
			<add key="hibernate.connection.driver_class"
     value="NHibernate.Driver.MySqlDataDriver" />
			<add key="hibernate.dialect"
     value="NHibernate.Dialect.MySQLDialect" />
			<add key="hibernate.connection.provider"
     value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string_name"
     value="Default" />
			<add key="hibernate.show_sql"
     value="true" />
		</config>
	</activerecord>
	
 <applicationSettings>
  <AdminInterface.Properties.Settings>
   <setting name="RegistrationCardEmailBody" serializeAs="String">
     <value>Пример шаблона тела письма</value>
   </setting>
  </AdminInterface.Properties.Settings>
 </applicationSettings>
</configuration>
